@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-arrow: arrow 1s ease-in-out infinite;
  --color-link: #404040;
  --color-buttons: #4338ca;
  --color-landing: #3730a3;

  @keyframes arrow {
    0% {
      transform: translateX(0px);
    }
    70% {
      transform: translateX(2px);
      -webkit-transform: translateX(2px);
      -moz-transform: translateX(2px);
      -ms-transform: translateX(2px);
      -o-transform: translateX(2px);
    }
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 15px;
}


.escape {
  width: 100vw;
  margin-left: calc(50% - 51vw);
}